.container {
    width:100%;
}

.trucContenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    color: #353535;
    border-radius: 15px;
    background-color: #ffffa8;
    font-family: Inter,sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'Praise', cursive;
    font-size: 60px;
}

.button-56 {
  background-color: #fee6e3;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
  color: #353535;
  cursor: pointer;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: 1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.input {
    position:relative;
	background-color: #ffffff;
	padding: 3px;
    height: 35px;
    border: 2px solid #fee6e3;
    color: #353535;
	display: inline-block;
    border-radius: 8px;
    box-sizing: border-box;	
}